.rectangle {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-xs) var(--br-xs) 0 0;
  background-color: var(--color-gray-600);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  height: 100%;
}
.learnBuildNetwork {
  position: absolute;
  top: 0.2px;
  left: calc(50% - 167.45px);
  width: 31px;
  height: 27px;
  overflow: hidden;
}
.div,
.managedbySolanaFoundation,
.solanaFoundationAll {
  position: absolute;
  width: 5.1%;
  top: -0.4px;
  left: 0;
  line-height: 27.3px;
  display: inline-block;
}
.managedbySolanaFoundation,
.solanaFoundationAll {
  width: 83.82%;
  left: 16.18%;
}
.managedbySolanaFoundation {
  width: 11.08%;
  left: 5.1%;
}
.frame2,
.rectangle1 {
  position: absolute;
  width: 100%;
  top: 144.6px;
  right: 0;
  left: 0;
  height: 27px;
}
.rectangle1 {
  top: 0;
  background-color: var(--color-lightslategray);
  height: 100%;
}
.ecosystemNewsletter,
.getConnectedIcon {
  position: absolute;
  border-radius: var(--br-81xl);
  height: 16px;
}
.getConnectedIcon {
  top: 0;
  left: calc(50% - 7.75px);
  width: 16px;
  overflow: hidden;
}
.ecosystemNewsletter {
  width: 12.63%;
  top: 4.6px;
  right: 87.37%;
  left: 0;
}
.rectangle2 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-lightslategray);
  height: 100%;
}
.frameIcon {
  position: absolute;
  top: 0;
  left: calc(50% - 7.75px);
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.ecosystemNewsletter1,
.ecosystemNewsletterIcon {
  position: absolute;
  width: 12.63%;
  top: 4.6px;
  right: 52.41%;
  left: 34.96%;
  height: 16px;
}
.ecosystemNewsletterIcon {
  right: 17.5%;
  left: 69.87%;
  max-width: 100%;
  overflow: hidden;
}
.rectangle3 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-lightslategray);
  height: 100%;
}
.frameIcon1 {
  position: absolute;
  top: 0;
  left: calc(50% - 7.75px);
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.ecosystemNewsletter2,
.rectangle4 {
  position: absolute;
  width: 12.63%;
  top: 4.6px;
  right: 69.91%;
  left: 17.46%;
  height: 16px;
}
.rectangle4 {
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-lightslategray);
  height: 100%;
}
.frameIcon2 {
  position: absolute;
  top: 0;
  left: calc(50% - 7.75px);
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.ecosystemNewsletter3 {
  position: absolute;
  width: 12.63%;
  top: 4.6px;
  right: 0;
  left: 87.37%;
  border-radius: var(--br-81xl);
  background-color: var(--color-white);
  height: 16px;
}
.rectangle5 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-lightslategray);
  height: 100%;
}
.ecosystemNewsletter4,
.frameIcon3 {
  position: absolute;
  height: 16px;
  overflow: hidden;
}
.frameIcon3 {
  top: 0;
  left: calc(50% - 7.75px);
  width: 16px;
}
.ecosystemNewsletter4 {
  width: 12.63%;
  top: 4.6px;
  right: 34.96%;
  left: 52.41%;
  border-radius: var(--br-81xl);
  background-color: var(--color-white);
}
.frame3 {
  position: absolute;
  width: 61.69%;
  top: 94.6px;
  right: 38.31%;
  left: 0;
  height: 30px;
}
.managedBySolana {
  position: absolute;
  width: 73.05%;
  top: 47.2px;
  left: 0;
  line-height: 27.3px;
  font-family: var(--font-roboto);
  color: var(--color-white);
  display: inline-block;
}
.frame1 {
  position: absolute;
  height: 100%;
  width: 30.36%;
  top: 0;
  right: 69.64%;
  bottom: 0;
  left: 0;
}
.breakSolana,
.careers,
.disclaimer,
.grants,
.mediaKit {
  position: absolute;
  left: 0.51%;
  line-height: 27.3px;
  display: inline-block;
}
.grants {
  width: 51.58%;
  top: 5.2px;
  font-size: var(--font-size-mini);
}
.breakSolana,
.careers,
.disclaimer,
.mediaKit {
  width: 73.04%;
  top: 83.2px;
}
.breakSolana,
.careers,
.disclaimer {
  width: 82.81%;
  top: 161.2px;
}
.breakSolana,
.careers {
  width: 62.36%;
  top: 122.2px;
}
.breakSolana {
  width: 100%;
  top: 44.2px;
  font-size: var(--font-size-mini);
}
.frame6 {
  width: 57.79%;
  top: 26px;
  right: 29.81%;
  left: 12.4%;
  height: 195px;
}
.frame5,
.frame6,
.solana {
  position: absolute;
}
.solana {
  width: 40.39%;
  top: -0.8px;
  left: 12.7%;
  line-height: 18.72px;
  text-transform: uppercase;
  color: var(--color-white);
  display: inline-block;
}
.frame5 {
  height: 100%;
  width: 33.79%;
  top: 0;
  right: 66.21%;
  bottom: 0;
  left: 0;
}
.blog,
.ecosystem,
.newsletter {
  position: absolute;
  width: 57.67%;
  top: 5.2px;
  left: 0.35%;
  line-height: 27.3px;
  display: inline-block;
}
.blog,
.newsletter {
  width: 58.36%;
  top: 83.2px;
}
.blog {
  width: 23.34%;
  top: 44.2px;
  font-size: var(--font-size-mini);
}
.frame9,
.getConnected {
  position: absolute;
  width: 66.85%;
}
.frame9 {
  top: 26px;
  right: 23.41%;
  left: 9.74%;
  height: 117px;
}
.getConnected {
  top: -0.8px;
  left: 9.97%;
  font-size: var(--font-size-mini);
  line-height: 18.72px;
  text-transform: uppercase;
  color: var(--color-white);
  display: inline-block;
}
.frame8,
.rectangle6 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.frame8 {
  width: 64.99%;
  right: 35.01%;
  bottom: 0;
}
.rectangle6 {
  width: 100%;
  right: 0;
  border-radius: var(--br-7xs);
}
.frameIcon4 {
  position: absolute;
  top: 0;
  left: calc(50% - 35px);
  width: 19px;
  height: 20px;
  overflow: hidden;
}
.frameIcon5 {
  top: 2px;
  left: calc(50% + 14px);
  width: 17px;
  height: 17px;
  overflow: hidden;
}
.en,
.frame10,
.frameIcon5 {
  position: absolute;
}
.en {
  top: calc(50% - 12px);
  left: calc(50% - 12px);
  line-height: 24px;
  text-transform: uppercase;
  display: inline-block;
  width: 22px;
}
.frame10 {
  width: 22.2%;
  top: calc(50% - 111.3px);
  right: 6.33%;
  left: 71.47%;
  height: 20px;
  text-align: center;
  font-size: var(--font-size-mini);
}
.frame4,
.frame7 {
  position: absolute;
  height: 100%;
  width: 66.21%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 33.79%;
}
.frame4 {
  width: 43.31%;
  right: -1.82%;
  left: 58.51%;
}
.divfooter,
.frame {
  position: absolute;
  width: 63.51%;
  top: 80.8px;
  right: 18.25%;
  left: 18.25%;
  height: 221px;
}
.divfooter {
  width: 100%;
  top: 4227px;
  right: 0;
  left: 0;
  height: 383px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-lightslategray);
  font-family: var(--font-helvetica);
}
